<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Venue</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>The wedding ceremony and reception will all be taking place at the beautiful <a href="https://www.laurelpoint.com" target="_blank">Inn at Laurel Point</a>.</dd>
                    <dt>When</dt>
                    <dd>Saturday June 22, 2019</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            The Inn at Laurel Point<br>
                            <a href="https://goo.gl/maps/JrpLSF5Cs3C2" target="_blank">680 Montreal Street Victoria, BC V8V 1Z8, Canada</a><br>
                            Phone: +1 800-663-7667 (Toll Free)
                        </address>
                    </dd>
                    <dt>Transportation</dt>
                    <dd>
                        <h4>Taxis</h4>
                        Taxis are available round the clock. The rate for most taxi companies should be the same since they are regulated by the city of Victoria. Uptown Taxi can take up to 6 people, all others can take 4-5. <br /><br />

                        <h4>From the Airport or the BC Ferry's Terminal</h4>
                        Get on to Highway 17 towards Victoria. Highway 17 will become Blanshard St. Continue on Blanshard St. as it will become Belleville St. Past the BC Legislature building, the road will turn to the left, then to the right and after a park on your right, turn right onto Montreal St. and follow it to the end.<br /><br />

                        <h4>Directions from Douglas St.</h4>
                        Follow Douglas St. south through downtown Victoria until reach Belleville St. Turn right on to Belleville St. Past the BC Legislature building, the road will turn to the left, then to the right and after a park on your right, turn right onto Montreal St. and follow it to the end.<br /><br />
                    </dd>
                    <dt>Parking</dt>
                    <dd>
                        For those staying at the Inn, there is $17/night parking available.<br />
                        For those that do not want to park at the Inn, there is public parking nearby.
                        The <a href="https://goo.gl/maps/BMfXddwd2iD2" target="_blank">corner of Quebec St. and Montreal St.</a> is a 1 minute walk away has parking at $2/hour or $8/day.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>

<section id="reception-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Ceremony</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Wedding ceremony overlooking the Victoria's outer harbour.</dd>
                    <dt>When</dt>
                    <dd>3pm</dd>
                    <dt>Attire</dt>
                    <dd>Semi-formal</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Cocktails</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>
                        While pictures are being taken there will be a cocktail hour with board games for guests. While we encourage you to stay and play the games, guests are free to do
                        whatever they like during this time.
                    </dd>
                    <dt>When</dt>
                    <dd>Immediately following the end of the ceremony.</dd>
                    <dt>Attire</dt>
                    <dd>Semi-formal</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Reception</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Dinner, wedding games, speeches, dancing, and celebrating into the night.</dd>
                    <dt>When</dt>
                    <dd>We ask that you take your seats at 5:30 and dinner will follow. Dancing will be setup in the adjacent spirit room for after dinner and music will stop at 1am.</dd>
                    <dt>Attire</dt>
                    <dd>Semi-formal</dd>
                </dl>
            </div>
        </div>
    </div>
{% comment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary">
                <p>
                    Placeholder.
                </p>
            </div>
        </div>
    </div>
{% endcomment %}
</section>
