<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Victoria</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
            <h4>By Air</h4>
            <p>
                <a href="http://www.victoriaairport.com/" target="_blank">Victoria International Airport (YYJ)</a><br />
                Fly using your favourite airline into Victoria International Airport (YYJ). Then drive 30 minutes into Victoria or take the
                <a href="https://yyjairportshuttle.com/" target="_blank">YYJ Airport Shuttle</a> or a taxi to your hotel.<br /><br />

                Driving directions: When leaving the Airport, take the 1st exit onto Willingdon Rd, at the second roundabout, take the 2nd exit, staying on Willingdon Rd.
                Continue onto Canora Rd and at the 2nd exit, merge onto the Patricia Bay Hwy/BC-17 ramp to Victoria/British Columbia 17 South. Follow Highway 17 into Victoria.
            </p>
            <p>
                <a href="https://www.harbourair.com/" target="_blank">Harbour Air</a><br />
                Take a 25 minute flight over the beautiful Straight of Georgia and the Southern Gulf Islands on a float plane from Richmond, downtown Vancouver,
                Pitt Meadows, or Whistler. You will float by the Inn at Laurel Point as you arrive in Victoria’s Inner Harbour. Disembark a 15 minute walk or 3 minute drive
                around the Inner Harbour from the Inn
            </p>

            <h4>By Water</h4>
            <p>
                <a href="https://www.bcferries.com/" target="_blank">BC Ferries</a><br />
                A scenic 90-minute cruise through coastal BC waters. Board at the Tsawwassen terminal, 30-minutes south of Vancouver, and arrive in Swartz Bay in Sidney BC, 35-minute drive to Victoria.
                You can onto this ferry if you want to bring a vehicle or take the bus directly from the ferry terminal to downtown for $2.50 ($5.00 for a day pass). Taxis are also available.<br /><br />

                Driving directions: You will exit the ferry directly onto Highway 17. Follow Highway 17 into Victoria.
            </p>

            <p>
                <a href="https://www.v2vvacations.com/" target="_blank">V2V Vacations</a><br />
                Walk on this ferry from Downtown Vancouver, for a 3-hour and 15-minute ride to Victoria’s Inner Harbour. You CANNOT take a vehicle on this ferry.
            </p>

            <hr class="primary">
            <h3>Accommodations</h3>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">The Inn at Laurel Point</th>
                    <td>
                        The <a href="https://www.laurelpoint.com/rooms/">Inn at Laurel Point</a> is beautiful and has rooms available for those attending the wedding.
                        Rooms start at $311.50/night ($280.35 for CAA members). A select 20 rooms are available from $214/night limited to the night before, night of, and night after the wedding.
                    </td>
                </tr>
                <tr>
                    <th>Coast Victoria Hotel</th>
                    <td>
                        The <a href="https://www.coasthotels.com/hotels/bc/victoria/coast-victoria-hotel-and-marina/">Coast Victoria Hotel</a> overlooks the outer harbour and is a 3 minute walk away from the Inn at Laurel point. Rooms start at $296.65/night.
                    </td>
                </tr>
                <tr>
                    <th>Best Western Plus Inner Harbour</th>
                    <td>
                        The <a href="https://www.victoriabestwestern.com/en-us">Best Western Plus Inner Harbour</a> is a 5 minute walk from the Inn at Laurel point. Rooms start at $262/night or 235.80/night for CAA members.
                    </td>
                </tr>
                <tr>
                    <th>Huntingdon Manor Hotel</th>
                    <td>
                        The <a href="https://www.huntingdonmanor.com/">Huntingdon Manor Hotel</a> is a 5 minute walk from the Inn at Laurel point. Rooms start at $210/night.
                    </td>
                </tr>
                <tr>
                    <th>Strathcona Hotel</th>
                    <td>
                        The <a href="https://www.huntingdonmanor.com/">Strathcona Hotel</a> is a 15 minute walk or 5 minute drive from the Inn at Laurel point. Rooms start at $184/night or $165/night for CAA members.
                    </td>
                </tr>
                <tr>
                    <th>Paul's Motor Inn</th>
                    <td>
                        <a href="https://www.huntingdonmanor.com/">Paul's Motor Inn</a> is a 8 minute drive from the Inn at Laurel point. Rooms start at $154/night.
                    </td>
                </tr>
                <tr>
                    <th>Vacation rentals</th>
                    <td>
                        There are many different websites that you can use for vacation rentals in Victoria:
                        <ul>
                            <li><a href="https://www.homeaway.ca/d/170/victoria">Home Away</a></li>
                            <li><a href="https://www.ownerdirect.com/accommodation/victoria-bc">Owner Direct</a></li>
                            <li><a href="https://www.airbnb.ca/">Airbnb</a></li>
                        </ul>
                    </td>
                </tr>
            </table>

            <hr class="primary">
            <h3>Things to Do</h3>
            <p>something something dancing queen</p>
            <h4>Wine Tasting</h4>
            <p>
                friday night and the lights are loww
            </p>
            <p>
                looking out for a place to go
            </p>
            <h4>Place</h4>
            <p>where they play the right music</p>
            <p>everything blah blah</p>
            <h4>Golf</h4>
            <p>i'm in the mood for a dance</p>
            <h4>Spa</h4>
            <p>and when i get the chance</p>
            <h4>Shopping</h4>
            <p>
                you are the dancing queen
            </p>
            <h4>Theater</h4>
            <p>
                young and sweet
            </p>
            <h4>Buffalo Wings</h4>
            <p>
                only 17
            </p>
            <h4>Botanical Gardens</h4>
            <p>dancing queen</p>
            <h4>Eat</h4>
            <p>feel the beat from the tambourine</p>
            <h4>Drink</h4>
            <p>ooohhh yeahh</p>
            <p>you can dance</p>
            <h4>you can jii-ive</h4>
            <p>having the time of your life</p>
        </div>
    </div>
</div>
